// Colors
$color-white: white;
$color-orange: #cc9543;

//Font
$font-size-base: 1.6rem;
$font-family-norse: "Norse";
$font-family-base: "Andada Pro";

//Spacers
$spacer-xs: 0.5rem;
$spacer-s: 1rem;
$spacer-sm: 1.5rem;
$spacer-m: 2rem;
$spacer-ml: 2.5rem;
$spacer-l: 3rem;
