@use '../../sass/global.scss' as *;

.footer {
    position: fixed;
    bottom: 0;
    height: 5.5rem;
    width: 100%;
    z-index: 10;
    background-color: $color-white;
    box-shadow: 0 (-$spacer-xs) $spacer-xs 0 rgb(90, 90, 90, 0.3);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 $spacer-l;
    color: rgba(74, 74, 74, 0.7);

    &__left-group,
    &__right-group,
    &__odin-group,
    &__profile-group {
      display: flex;
      align-items: center;
    }
    
    &__odin-group,
    &__profile-group {
      padding-left: $spacer-s;
    }

    &__odin-logo,
    &__profile-logo {
      height: 3rem;
    }

    &__odin-text {
      font-family: $font-family-norse;
      color: $color-orange;
      font-size: $font-size-base;
      width: 9rem;
      margin-right: $spacer-xs;
    }

    @media screen and (max-width: 800px) {
        p {
          display: none;
        }
    }
    
    @media screen and (max-width: 480px) {
        span {
          display: none;
        }
    }
    
}
